<!DOCTYPE html>
<html>
  <head>
    <title>Audible Harvest</title>

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.4.1/build/cssreset/cssreset-min.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <style>
      body { margin: 0; padding: 0; font-family: Abel }
      header { padding: 0.5em; background-color: #FCF7D1; border-bottom: 1px solid #B52C00; box-shadow: 0px 0px 10px #888; margin-bottom: 1em; }
      h1 { font-family: Lobster; color: #B52C00; font-size: 4em; text-shadow: 2px 2px 2px #fff; width: 500px; margin: auto; text-align: center }
      h3 { font-family: Lobster; font-size: 2em; color: #8C0005; margin: 0.5em 0; text-shadow: 2px 2px 2px #FCF7D1 }

      #sidebar {
        float: right;
        width: 400px;
        text-align: center;
        margin-right: 5em;
      }

      #sidebar>div { padding: 0; margin-right: -100px; }

      #main { float: left; margin-left: 5em; }

      #music {
        display: block;
        width: 100%;
        border-radius: 10px;
        border: 2px solid #8C0005;
        margin: 0;
        padding: 0;
      }

      #music tr { border-bottom: 1px solid #a86; border-radius: 10px; }
      #music tr:hover { background-color: #FCF7D1 }
      #music td { padding: 3px; border-radius: 10px; }

      #player { 
        position: absolute;
        z-index: 10;
        bottom: 0;
        width: 100%;
        height: 40px;
      }

      td.first { background-color: #faa; }
    </style>

    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawNetworkChart);
      google.setOnLoadCallback(drawServiceChart);
      google.setOnLoadCallback(drawPeopleChart);

      var chartOptions = { width: 350, height: 200, is3D: true, chartArea: {top:0, left:0, height:'100%', width:'100%'} };

      function drawNetworkChart() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Network');
        data.addColumn('number', 'Tracks');
        data.addRows(<%= Treasure.origin_data %>);

        var chart = new google.visualization.PieChart(document.getElementById('network-chart'));
        chart.draw(data, chartOptions);
      }

      function drawServiceChart() {
        var data = new google.visualization.DataTable();

        data.addColumn('string', 'Provider');
        data.addColumn('number', 'Tracks');
        data.addRows(<%= Treasure.provider_data %>);

        var chart = new google.visualization.PieChart(document.getElementById('service-chart'));
        chart.draw(data, chartOptions);
      }

      function drawPeopleChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Provider');
        data.addColumn('number', 'Tracks');
        data.addRows(<%= Treasure.people_data %>);

        var chart = new google.visualization.PieChart(document.getElementById('people-chart'));
        chart.draw(data, chartOptions);
      }
    </script>

    <script>

      $().ready(function() {
        $('.track').click( function() {
          var search = $(this).attr('data-search');
          var searchUrl = "http://soundcloud.com/search?q=" + encodeURI(search);
          window.open(searchUrl);
        })
      });
    </script>
  </head>
  <body>
    <header>
      <h1>Audible Harvest</h1>
    </header>

    <div id="sidebar">

      <h3>Social Networks</h3>
      <div id="network-chart"></div>

      <h3>Music Services</h3>
      <div id="service-chart"></div>

      <h3>People</h3>
      <div id="people-chart"></div>
    </div>

    <div id="main">
      <h3>Peat's 24 Hours of Music</h3>
      <table id="music">
        <% Treasure.order("created_at desc").each do |t| %>
          <tr class="track" id="t-<%= t.id %>" data-search="<%= "#{t.track} #{t.artist}" %>">
            <td <%= 'class="first"' if t.first_track? %>><%= 
              if t.track.length > 20
                "#{t.track.slice(0,20)}..." 
              else
                t.track
              end
            %></td>
            <td <%= 'class="first"' if t.first_artist? %>><%= t.artist %></td>
            <td style="text-align: center"><%= t.person %></td>
            <td style="text-align: center"><%= t.origin %></td>
            <td style="text-align: center"><%= t.provider %></td>
          </tr>
        <% end %>
      </table>
    </div>

  </body>
</html>
